*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif ;
    border:border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#navbar{
    
    height:60px;
    width:100%;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

/* -----------amazon logo box1--------------- */
#navlogo {
height:50px;
width:110px;
}

.logo{
    height:50px;
    width:100%;
background-image:url("textures/amazon_logo.png");
background-size: cover;
}
.border{
 border:1.5px solid transparent;   
}

.border:hover {
border:1.5px solid white;
}

/* -----------------address box navbar--------------------- */
.address{
height:50px;
width:110px;

}
.add-icon{
display:flex;
    align-items:center;
}
.add-first{
      padding-top:10px;
    margin-left:20px ;
color:#CCCCCC;
font-size:0.75rem;
}

.add-sec{
    margin-left:1px ;
font-size:1rem;

}
/* ----------------search bar section -------------- */
.searchbar{
    justify-content: space-evenly;
    background-color: orange;
    display:flex;
    width:600px;
height:40px;
border-radius:4px;
}

.searchbar:hover{
border:2px solid orange;

}

.seloption{
    width:50px;
background-color: #F3F3F3;
text-align:center;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border:none;

}
#search-in{
    width:100%;
    font-size: 1rem;
border:none;
}
.search-button{
border:none;
background-color: orange;
width: 45px;
font-size: 1.2rem;
border-top-right-radius:4px ;
border-bottom-right-radius:4px ;
}
/* ==========box 4 */
.nav-b4b5{
    height:50px;
    
    align-items:center;
}

.nav-b4{
    font-size:0.7rem;
    padding-top:10px;
    justify-content: center;
}

.b4{
font-size:0.85rem;
font-weight: 700;
}
/* ======cart--------------------= */
.cart{
display:flex;
height:50px;
}
.cart{
font-size: 0.85rem;
font-weight:700;
}
.cart i{
    font-size: 30px;
}
/* ================panel============ */
.panel{
    background-color: #222f3d;
color:white;
height:40px;
display:flex;
align-items: center;
justify-content: space-evenly;
}
.all-icon{
width:60px;
align-items: center;
}
.panel-options p{
    display:inline;
    margin-left:10px;
}
.panel-options{
    width:70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size:0.9rem;
    font-weight:700;
}

/* =============hero section */
main {
    margin-top: 100px;
}
.herosection{
height:300px;
background-image: url("textures/hero_image.jpg");
background-size: cover;
display:flex;
align-items: flex-end;
justify-content:center;

}
#amazonlink{
    text-decoration:none ;
    color:#007185
}
.hero-message{
     width:80%;
    color:black;
    height:40px;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 0.85rem;
    margin-bottom:25px;
   
}
/* -----------shopsection */
.shop-section{
background-color: #e2e7e6;
display:flex;
flex-wrap:wrap ;
justify-content: space-evenly;

}

.box{
    margin-top:15px;
    background-color: white;
    border:2px solid black;
height:345px;
width:24%;
padding:20px 0px 15px;
}
.b1-img{
       background-image:url("textures/box1_image.jpg") ;
}
.b2-img{
       background-image:url("textures/box2_image.jpg") ;
}
.b3-img{
       background-image:url("textures/box3_image.jpg") ;
}
.b4-img{
       background-image:url("textures/box4_image.jpg") ;
}
.b5-img{
       background-image:url("textures/box5_image.jpg") ;
}
.b6-img{
       background-image:url("textures/box6_image.jpg") ;
}
.b7-img{
       background-image:url("textures/box7_image.jpg") ;
}
.b8-img{
       background-image:url("textures/box8_image.jpg") ;
}
.b0-img{
    height:250px;
    background-size: cover;
    background-repeat:no-repeat;
    margin-top:1rem;
    margin-bottom:1rem;
}

.content-box{
margin-left: 1rem;
margin-right: 1rem;

}
.content-box p{
color:#007185;
}
/* =======foooter designing */
footer{
    margin-top: 15px;
}
.fp1{
height:50px;
background-color: #374751;
color:white;
display:flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
}
.footer-grid{
    height:300px;
    background-color: #222f3d;
    color:white;
    display:flex;
    justify-content: space-evenly;
padding:50px;
}
.footer-col a{
font-size: 0.85rem;
    color:white;
    text-decoration:none ;
}
.footer-col li{
    list-style: none;
}
.footer-panel3{
height:70px;
background-color:#222f3d ;
border-top:0.5px solid white;
display:flex;
align-items: center;
justify-content: center;
}
.fo-logo{
height:50px;
width:100px;
background-image:url("textures/amazon_logo.png");
background-size: cover;

}
.footer-panel4{
height:80px;
background-color: #0f1111;
color:white;

font-size: 0.7rem;
text-align: center;
}
.pages{
    padding-top:25px;

}
.copyrigt{
padding-top: 6px;
}