*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif ;
    border:border-box;
}

#navbar{
    
    height:60px;
    width:100%;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
}
/* -----------amazon logo box1--------------- */
#navlogo {
height:50px;
width:110px;
}

.logo{
    height:50px;
    width:100%;
background-image:url("amazon_logo.png");
background-size: cover;
}
.border{
 border:1.5px solid transparent;   
}

.border:hover {
border:1.5px solid white;
}

/* -----------------address box navbar--------------------- */
.address{
height:50px;
width:110px;

}
.add-icon{
display:flex;
    align-items:center;
}
.add-first{
      padding-top:10px;
    margin-left:20px ;
color:#CCCCCC;
font-size:0.75rem;
}

.add-sec{
    margin-left:1px ;
font-size:1rem;

}